{{ form_start(form) }}
    <div class="row g-3">
        {% for field in form %}
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_label(field, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                    {{ form_widget(field, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    {{ form_errors(field) }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mt-4">
        <button class="btn btn-primary btn-lg w-100">{{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
